# Лабораторна робота №8
## Гаркот Софія 

Інструкції

У додатку ви знайдете файл, котрий містить дані та зображення - візуалізацію на основі цих даних

Ваша задача

- Ідентифікувати та описати проблеми у цій візуалізації даних (я очікую від вас текст)

- Зробити альтернативний варіант презентації цих даних (я очікую від вас візуалізацію та пояснення, чому вона працює ліпше, ніж оригінальна)

Проблеми у цій візуалізації:
1) розмір візуалізації недостатньо великий, так що не всі елементи поміщаються і легко зчитуються

2) дані по осі Х не впорядковані за певною їєрархією, тому їх складно зчитувати

3) відсоткові зміни в певних секторах не зчитуються легко, так що читачеві доводиться вдаватись до "ментальної арифметики" віднімаючи по осі у відповідні відсотки

4) грубою помилкою є і те, що власне візуалізація не відповідає на поставлене завдання -- дуже складно порівняти зміни у, скажімо, промисловості у 2010 році в порівнянні з 2017, коли обидва не виходять по осі у з однієї точки. 

5) Графік не дає читачеві певних висновків та не ілюструє відповіді на поставлене питання -- складно зробити висновки про зміну структури ВДВ. 

Ідеї для покращення залежать від мети візуалізації: чи є вона в тому, щоб показати відсоткову зміну структури порівнюючи 2010 з 2017 чи показати як кожен з регіонів змінював структуру ВДВ, ичи загальни тренд по Україні. 


найкраще було б зробити мапу і прив'язану до неї гістограму по кожному з сегментів ооой щось занадто складно чи ні?

або ж зробити 24 пай чартів

або ж пройти тест з ФДА

або ж пай чарт з випадним вікном з яким можна фільтрувати

In [1]:
import pandas as pd
import altair as alt
import altair_viewer

alt.renderers.enable('altair_viewer')

RendererRegistry.enable('altair_viewer')

In [2]:
data = pd.read_excel("1.4_02.xlsx")
data.head()

,"Регіон, рік",сільське господарство,промисловість,будівництво,послуги,державне управління
0,"Україна, 2010",8.3,25.9,3.3,57.3,5.2
1,"Україна, 2017",12.1,25.2,2.5,53.7,6.5
2,"Вінницька, 2010",21.6,19.3,4.1,47.4,7.6
3,"Вінницька, 2017",28.1,21.4,2.0,39.8,8.7
4,"Волинська, 2010",16.9,15.6,3.2,57.7,6.6

In [3]:
regions = []
years = []
for i, r in data.iterrows():
    region = r['Регіон, рік'].split(',')[0]
    year = r['Регіон, рік'].split(',')[1]
    
    regions.append(region)
    years.append(year)
    
data['region'] = regions
data['years'] = years
data.head()

,"Регіон, рік",сільське господарство,промисловість,будівництво,послуги,державне управління,region,years
0,"Україна, 2010",8.3,25.9,3.3,57.3,5.2,Україна,2010
1,"Україна, 2017",12.1,25.2,2.5,53.7,6.5,Україна,2017
2,"Вінницька, 2010",21.6,19.3,4.1,47.4,7.6,Вінницька,2010
3,"Вінницька, 2017",28.1,21.4,2.0,39.8,8.7,Вінницька,2017
4,"Волинська, 2010",16.9,15.6,3.2,57.7,6.6,Волинська,2010

In [19]:
data.keys().to_list()[1:-2]

['сільське господарство',
 'промисловість',
 'будівництво',
 'послуги',
 'державне управління']

In [74]:
new_df = {'region':[], 'year':[], 'keys__':[], 'values__':[], 'str_values__':[]}
k = data.keys().to_list()[1:-2]
for i, r in data.iterrows():
    total = sum([r[i] for i in k])
    for i in range(len(k)):
        new_df['region'].append(r['region'])
        new_df['year'].append(r['years'].strip())
        new_df['keys__'].append(k[i])
        new_df['values__'].append(r[k[i]]/total*100)
        new_df['str_values__'].append(str(round(r[k[i]]/total*100))+'%')

In [72]:
df = pd.DataFrame(new_df)
df.head()

    region  year                 keys__  values__ str_values__
0  Україна  2010  сільське господарство       8.3           8%
1  Україна  2010          промисловість      25.9          26%
2  Україна  2010            будівництво       3.3           3%
3  Україна  2010                послуги      57.3          57%
4  Україна  2010    державне управління       5.2           5%

In [75]:
set(df['year'])

{'2010', '2017'}

In [76]:
df[df['region'] == 'Закарпатська']

          region  year                 keys__  values__ str_values__
60  Закарпатська  2010  сільське господарство      13.4          13%
61  Закарпатська  2010          промисловість      19.0          19%
62  Закарпатська  2010            будівництво       3.8           4%
63  Закарпатська  2010                послуги      56.6          57%
64  Закарпатська  2010    державне управління       7.2           7%
65  Закарпатська  2017  сільське господарство      15.2          15%
66  Закарпатська  2017          промисловість      15.1          15%
67  Закарпатська  2017            будівництво       3.1           3%
68  Закарпатська  2017                послуги      57.4          57%
69  Закарпатська  2017    державне управління       9.2           9%

In [120]:
input_dropdown = alt.binding_select(options = df.region.unique())
select_region = alt.selection_single(fields = ['region'], bind = input_dropdown, empty='all', name='Choose')
select_year = alt.selection_single(on = 'mouseover', fields = ['keys__'], nearest = False, empty = 'all')

In [142]:

one = alt.Chart(df, title='Зміна структури ВДВ за регіонами: 2010 та 2017').mark_arc().encode(
    theta=alt.Theta(field="values__", type="quantitative"),
    color=alt.Color(field="keys__", type="nominal",title='Сфера'),
    tooltip = [
        alt.Tooltip('region:O', title='Регіон'),
        alt.Tooltip('str_values__:O', title='Відсоток ВДВ')
    ],
    opacity = alt.condition((select_year) , alt.value(1), alt.value(0.6))
).transform_filter(
    select_region
).add_selection(
    select_region, select_year
).properties(width = 700, height = 500)



one = one.facet(facet = alt.Facet('year:N', title='Рік'), columns = 2, 
                title='Зміна структури ВДВ за регіонами: 2010 та 2017'
               ).add_selection(
    select_region).properties(background = '#F9F9F9', padding = 25).configure_view(strokeWidth=0)


one

# two = alt.Chart(df).mark_arc().encode(
#     theta=alt.Theta(field="values__", type="quantitative"),
#     color=alt.Color(field="keys__", type="nominal", scale = alt.Scale( scheme='set3')),
#     opacity=alt.value(0.001)
# ).properties(width = 550, height = 300)
# one

# country_map = alt.Chart(merged, title='Population trends in Ukraine').project(type = 'equalEarth'
#     ).mark_geoshape().encode(
#     color = alt.Color('rate:Q', title='Rate of population change'),
#     tooltip = [
#         alt.Tooltip('region:O', title='Region name'),
#         alt.Tooltip('str_rate:O', title='Population increase rate in 2019')
#     ],
#     opacity = alt.condition((select_region_map) | (select_region_lines), alt.value(1), alt.value(0.6))
# ).add_selection(
#     select_region_map
# ).properties(width = 700, height = 400)


# side_line_plot = alt.Chart(df).mark_line().encode(
#     x = alt.X(field='year', 
#               type='temporal'
#              ),
#     y = alt.Y('values__:Q'),
#     color = alt.Color('keys__:O', scale = alt.Scale(type = 'quantize'),title='Сфера'),
# #     detail = alt.Detail('region:N'),
#     tooltip = [
#         alt.Tooltip('region:O', title='Region name')
#     ],
#     size = alt.condition(
#     (select_region_map) | (select_region_lines),
#     alt.value(4),
#     alt.value(0.2)),
#     color = alt.condition((select_region_lines) | (select_region_map), 
#                           alt.Color('region:O', scale = alt.Scale(type = 'quantize'),title='Region name'), 
#                           alt.value("darkgrey"))
# ).add_selection(select_region_lines
# ).properties(width = 600, height = 400)


# alt.hconcat(country_map, 
#             side_line_plot
#            ).configure_view(
#     strokeWidth=0
# )

Displaying chart at http://localhost:22178/

In [108]:
import pandas as pd
import altair as alt

source = pd.DataFrame({"category": [1, 2, 3, 4, 5, 6], "value": [4, 6, 10, 3, 7, 8]})

alt.Chart(source).mark_arc().encode(
    theta=alt.Theta(field="value", type="quantitative"),
    color=alt.Color(field="category", type="nominal"),
)

Displaying chart at http://localhost:22178/

In [30]:
type(df['values__'][0]), type(source['value'][0])

(list, numpy.int64)