# Лабораторна робота №3
## Гаркот Софія

Інструкції
Використовуючи файл `population_prospects.csv`, створіть карти, котрі відповідають на наступні питання:

- В яких країнах світу населення у 2100 році буде більшим, ніж було у 2000 році, а в яких меншим?

- На скільки відсотків збільшиться або зменшиться населення кожної країни у 2100 році у порівнянні з 2000 роком?

- Яким буде населення країн світу у 2100 році?

У наборі даних ви знайдете декілька прогнозів щодо зростання / скорочення населення країн світу (змінна `variant`). Для фактичних історичних даних (2000 рік) ви можете використовувати значення `Estimates`, для прогнозних даних (2100 рік) ви можете використовувати значення `Medium variant`.

Ви можете використовувати файл `world-countries.json` або будь-який інший файл з геоданими, котрий вам підходить для цієї задачі. Ви можете використовувати будь-який доступний вам інструмент візуалізації даних.

Ви маєте також у невеличкому супровідному тексті обґрунтувати вибір типу карти / типу кольорової шкали, пояснити його сильні та слабкі сторони для поставленої задачі.

In [1]:
from tqdm import tqdm

In [2]:
import pandas as pd
data = pd.read_csv("population_prospects.csv")
data

,variant,country,country_code,parent_code,year,population
0,Estimates,Burundi,108,910,1950,2308.927
1,Estimates,Comoros,174,910,1950,159.459
2,Estimates,Djibouti,262,910,1950,62.000
3,Estimates,Eritrea,232,910,1950,822.347
4,Estimates,Ethiopia,231,910,1950,18128.030
...,...,...,...,...,...,...
187995,No change,Bermuda,60,918,2100,28.727
187996,No change,Canada,124,918,2100,49443.658
187997,No change,Greenland,304,918,2100,41.199
187998,No change,Saint Pierre and Miquelon,666,918,2100,3.120
187999,No change,United States of America,840,918,2100,380580.865

In [3]:
c_2000_dct = {}
c_2100_dct = {}
c_final_dct = {}

for i, r in tqdm(data.iterrows()):
    
    if r['country'] in c_2000_dct.keys():
        if r['variant'] == 'Medium variant' and r['year'] == 2100:
            c = r['country']
            v_2000 = c_2000_dct[c]
            v_2100 = r['population']
            
            if v_2100 > v_2000:
                indication = 1
            else:
                indication = 0
                
            percentage = 100*((v_2100-v_2000)/v_2000)
            c_final_dct[c] = [indication, percentage, v_2100]
    else:
        if r['variant'] == 'Estimates' and r['year'] == 2000:
            c_2000_dct[r['country']] = r['population']

188000it [00:15, 12509.35it/s]

In [4]:
len(c_final_dct)

235

In [5]:
import altair as alt
import pandas as pd
import altair_viewer

alt.renderers.enable('altair_viewer')

RendererRegistry.enable('altair_viewer')

In [6]:
import geopandas as gpd
world = gpd.read_file('world-countries.json')
world.head()

,id,name,geometry
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066..."
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6..."
2,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509..."
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407..."
4,ARG,Argentina,"MULTIPOLYGON (((-65.50000 -55.20000, -66.45000..."

In [7]:
world

,id,name,geometry
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066..."
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6..."
2,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509..."
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407..."
4,ARG,Argentina,"MULTIPOLYGON (((-65.50000 -55.20000, -66.45000..."
...,...,...,...
172,PSE,West Bank,"POLYGON ((35.54566 32.39399, 35.54525 31.78251..."
173,YEM,Yemen,"POLYGON ((53.10857 16.65105, 52.38521 16.38241..."
174,ZAF,South Africa,"POLYGON ((31.52100 -29.25739, 31.32556 -29.401..."
175,ZMB,Zambia,"POLYGON ((32.75937 -9.23060, 33.23139 -9.67672..."
176,ZWE,Zimbabwe,"POLYGON ((31.19141 -22.25151, 30.65986 -22.151..."

In [8]:
len(set(data.country)), len(set(world.name) )

(235, 177)

In [9]:
[i for i in set(data.country) if i not in set(world.name)]

['China, Taiwan Province of China',
 'Aruba',
 'Montserrat',
 'Falkland Islands (Malvinas)',
 'Maldives',
 'Bolivia (Plurinational State of)',
 'Mauritius',
 'Timor-Leste',
 'Serbia',
 'Cayman Islands',
 'China, Hong Kong SAR',
 'Malta',
 'Antigua and Barbuda',
 'Saint Pierre and Miquelon',
 'Singapore',
 'Cook Islands',
 'Turks and Caicos Islands',
 'Barbados',
 'French Guiana',
 'Northern Mariana Islands',
 'Nauru',
 'Republic of Moldova',
 'United States Virgin Islands',
 'Republic of Korea',
 'Guadeloupe',
 'Kiribati',
 'Palau',
 'Sao Tome and Principe',
 'Comoros',
 'Samoa',
 'Tokelau',
 'American Samoa',
 'Bahamas',
 'Saint Vincent and the Grenadines',
 'Syrian Arab Republic',
 'Bermuda',
 'Mayotte',
 'Saint Helena',
 'Saint Lucia',
 'Venezuela (Bolivarian Republic of)',
 'Tonga',
 'Seychelles',
 'China, Macao SAR',
 'Guam',
 'Marshall Islands',
 'Liechtenstein',
 'Martinique',
 'Viet Nam',
 'Brunei Darussalam',
 'Iran (Islamic Republic of)',
 'Holy See',
 'North Macedonia',
 'Guinea-Bissau',
 'Channel Islands',
 'Saint Barthelemy',
 'Tuvalu',
 'French Polynesia',
 'San Marino',
 'Dominica',
 'Micronesia (Fed. States of)',
 'Isle of Man',
 'Bahrain',
 "Lao People's Democratic Republic",
 'Wallis and Futuna Islands',
 'Grenada',
 'Sint Maarten (Dutch part)',
 'Czechia',
 "Cote d'Ivoire",
 "Dem. People's Republic of Korea",
 'Monaco',
 'Anguilla',
 'Saint Kitts and Nevis',
 'Bonaire, Sint Eustatius and Saba',
 'Andorra',
 'Curacao',
 'Saint Martin (French part)',
 'State of Palestine',
 'Niue',
 'Reunion',
 'Faroe Islands',
 'Cabo Verde',
 'Gibraltar',
 'British Virgin Islands',
 'Eswatini',
 'Congo',
 'Russian Federation']

In [10]:
data_to_merge = {'name':[], 'indicator':[], 'percentage':[], 'in_2100':[], 'text_indicator':[],
                 'text_percentage':[], 'text_2100':[]}
for c in c_final_dct:
    if c in set(world.name):
        d = c_final_dct[c]
        data_to_merge['name'].append(c)
        data_to_merge['indicator'].append(d[0])
        if d[0] == 0:
            data_to_merge['text_indicator'].append("less")
        else:
            data_to_merge['text_indicator'].append("more")
        data_to_merge['percentage'].append(d[1])
        data_to_merge['text_percentage'].append(str(round(d[1], 2))+" %")
        
        data_to_merge['in_2100'].append(d[2])
        data_to_merge['text_2100'].append(str(round(d[2])))
data_to_merge = pd.DataFrame(data_to_merge)
data_to_merge.head()

,name,indicator,percentage,in_2100,text_indicator,text_percentage,text_2100
0,Burundi,1,698.010682,50904.072,more,698.01 %,50904
1,Djibouti,1,85.576739,1331.656,more,85.58 %,1332
2,Eritrea,1,295.294260,9061.777,more,295.29 %,9062
3,Ethiopia,1,344.535677,294392.903,more,344.54 %,294393
4,Kenya,1,292.384149,125423.855,more,292.38 %,125424

In [11]:
merged = world.merge(data_to_merge, how='left')
merged.head()

,id,name,geometry,indicator,percentage,in_2100,text_indicator,text_percentage,text_2100
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066...",1.0,260.626160,74937.961,more,260.63 %,74938
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",1.0,1048.384594,188283.132,more,1048.38 %,188283
2,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509...",0.0,-65.220440,1088.338,less,-65.22 %,1088
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407...",1.0,311.920645,12909.869,more,311.92 %,12910
4,ARG,Argentina,"MULTIPOLYGON (((-65.50000 -55.20000, -66.45000...",1.0,54.058223,56802.493,more,54.06 %,56802

In [12]:
merged.shape

(177, 9)

In [13]:
import numpy as np
average_perc = np.average(merged['percentage'].dropna())
average_population = np.average(merged['in_2100'].dropna())
for i, r in merged.iterrows():
    if np.isnan(r['percentage']):
        r['percentage'] = average_perc
        r['in_2100'] = average_population
        merged.iloc[i, :] = r

In [14]:
set([type(i) for i in merged['percentage']])

{float}

In [15]:
merged[merged['name']=='Russia']['percentage']

134    174.565344
Name: percentage, dtype: float64

In [16]:
alt.Chart(world).project(type = 'equalEarth').mark_geoshape(fill = 'lightgray', stroke = 'white').encode(
    tooltip = [
        alt.Tooltip('name:N'),
        alt.Tooltip('id:N')
    ]
).properties(width = 950, height = 500, background = '#F9F9F9', padding = 25)

Displaying chart at http://localhost:23387/

# Task 1

Кольорова гама у цьому випадку була обрана з метою простішого зчитування : зелений колір асоціюється з позитивною відповіддю, помаранчевий -- з негативною, сірий -- у разі якщо немає даних.

In [24]:

range_ = ['#DCDCDC', 'FF9933','4D9900']


alt.Chart(merged, title='Population trends in 2100 in comparison to 2000').project(type = 'equalEarth').mark_geoshape().encode(
    color = alt.Color('indicator:O', title='Is population more than in 2000?', 
            scale=alt.Scale(range=range_)),
    tooltip = [
        alt.Tooltip('name:N'),
        alt.Tooltip('text_indicator:O', title='Is population more than in 2000?')
    ]
).properties(width = 950, height = 500, background = '#F9F9F9', padding = 25).configure_title(fontSize=20)

Displaying chart at http://localhost:23387/

# Task 2
Кольорова гама була обрана згідно з інтуіцією -- холодні кольори асоціюються зі зниженням, а теплі -- зі зростанням, відповідний був і вибір кольорової гами.

In [30]:
alt.Chart(merged, title='Percentage change in population in 2100 compared to 2000').project(type = 'equalEarth').mark_geoshape().encode(
    color = alt.Color('percentage:Q', title='Percentage change',
          scale = alt.Scale(scheme = 'spectral', reverse = True)),
    tooltip = [
        alt.Tooltip('name:N'), 
        alt.Tooltip('text_percentage:O', title='Change in population')
    ]
).properties(width = 950, height = 500, background = '#F9F9F9', padding = 25).configure_title(fontSize=20)

Displaying chart at http://localhost:23387/

# Task 3

В даному завданні я обрала кольору палітру однієї гами для того, щоб користувачу було легше порівнят

In [33]:
alt.Chart(merged, title='Predicted population of Earth in 2100').project(type = 'equalEarth').mark_geoshape().encode(
    color = alt.Color('in_2100:Q', title='Population number',
          scale = alt.Scale(scheme = 'orangered')
                     ),
    tooltip = [
        alt.Tooltip('name:N'), 
        alt.Tooltip('text_2100:O', title='Population')
    ]
).properties(width = 950, height = 500, background = '#F9F9F9', padding = 25).configure_title(fontSize=20)

Displaying chart at http://localhost:23387/